

<form action="/loginface/{{id}}"  method="post" >


<div  style="display: flex; justify-content: center; align-items: center; margin-top: 100px; ">
      <input style="border-radius: 20px; width: 200px; height: 36px;" type="text" placeholder="codeOTP" id="otp" name="codeotp"> </input>

    <button style="margin-left: 10px; border-radius: 10px; width: 80px; height: 30px; background-color: blue;" type="submit" class="button" >play</button>

</div>


</form>